In [2]:
import pandas as pd

df_100 = pd.read_csv("/sports/Samples/stratified_100.csv")
df_100.head(3)

,RDlevel,HTshots,ATshots,HTshotOnTarget,ATshotsOnTarget,possession,HTgoals,ATgoals,HDA
0,12to14,15to20,0to6,7to9,0to1,47to56%,3,0,H
1,12to14,15to20,7to10,2to3,2to3,57to65%,1,2,A
2,12to14,15to20,7to10,10+,4to6,57to65%,3,2,H

In [3]:
from sdv.metadata import SingleTableMetadata

metadata = SingleTableMetadata()
metadata.detect_from_dataframe(data=df_100)
print('Auto detected data:\n')
metadata

Auto detected data:

{
    "columns": {
        "RDlevel": {
            "sdtype": "categorical"
        },
        "HTshots": {
            "sdtype": "categorical"
        },
        "ATshots": {
            "sdtype": "categorical"
        },
        "HTshotOnTarget": {
            "sdtype": "categorical"
        },
        "ATshotsOnTarget": {
            "sdtype": "categorical"
        },
        "possession": {
            "sdtype": "categorical"
        },
        "HTgoals": {
            "sdtype": "categorical"
        },
        "ATgoals": {
            "sdtype": "categorical"
        },
        "HDA": {
            "sdtype": "categorical"
        }
    },
    "METADATA_SPEC_VERSION": "SINGLE_TABLE_V1"
}

In [4]:
metadata.save_to_json('/sports/Synthetic/metadata.json')

In [7]:
from sdv.single_table import TVAESynthesizer
model_100 = TVAESynthesizer(metadata)
model_100.fit(df_100)
sports_100_syn = model_100.sample(num_rows=2000, output_file_path="/sports/Synthetic/TVAE/sports_100_syn.csv")

In [8]:
df_500 = pd.read_csv("/sports/Samples/stratified_500.csv")
model_500 = TVAESynthesizer(metadata)
model_500.fit(df_500)
sports_500_syn = model_500.sample(num_rows=10000, output_file_path="/sports/Synthetic/TVAE/sports_500_syn.csv")

In [9]:
df_1000 = pd.read_csv("/sports/Samples/stratified_1000.csv")
model_1000 = TVAESynthesizer(metadata)
model_1000.fit(df_1000)
sports_1000_syn = model_1000.sample(num_rows=20000, output_file_path="/sports/Synthetic/TVAE/sports_1000_syn.csv")